<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>Hi, I am Yi Rui, a UX Engineer. I am currently in my final semester of studies at the National University of Singapore pursuing a Bachelor of Computing (Honours) in Computer Science. My focus areas are in Visual Computing, Computer Graphics and games.
    </p>
    <p>As a quick learning and self-motivated individual, I believe I will make a positive contribution no matter the task assigned. My foundation in both Human-Computer Interaction and development enable me to add value to any projects.
    </p>
</div><!--//summary-->
</section><!--//section-->