<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>Hi, I am Yi Rui, an aspiring Full Stack Web Developer. I am currently a Year 3 undergraduate at the National University of Singapore pursuing a Bachelor of Computing (Honours) in Computer Science.
    </p>
    <p>As a quick learning and self-motivated individual, I believe I will make a positive contribution no matter my internship position. My strong foundation in both Mathematics and Computer Science enable me to add value to any projects I am assigned.
    </p>
</div><!--//summary-->
</section><!--//section-->