<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                <div class="intro">
                </div><!--//intro-->
                <br>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">QuickDesk Fullstack Web Development Intern</h3>
                            <div class="time">May 2017 - Jul 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Pearcomms Pte Ltd</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>The technical stack involved: React, Node and MongoDB.</p>
                        <p>I participated in sprints and daily SCRUMs. Here's how I spent my time:</p>
                        <p>Familiarising myself with the code base, bug & style fixes and QA.</p>
                        <p>Obtaining product requirements from client and help to build integration API with OAuth2 & a simple frontend interface.</p>
                        <p>Assisting CTO in product management, help to rebuild the internal administrative portal to include accounts, activity history, and other improvements to better fit their workflow.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Battalion Signal Officer</h3>
                            <div class="time">Jan 2014 - Dec 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Singapore Armed Forces</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As a commander, I had to manage day-to-day operations of my platoon while at the same time juggle the planning of activities as well as liaisons with third-parties.</p>  
                        <p>I also assumed other portfolios during my stint as Signal Officer, such as serving as the Unit's Corporate Information Technology Officer and Unit Fire Safety Officer.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Administrative Assistant</h3>
                            <div class="time">Feb 2015 - Mar 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Hoya Floral & Hampers</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I was placed in charge of managing the stock taking and delivery from the warehouse.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Sales Assistant</h3>
                            <div class="time">Jun 2015 - Aug 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">ZARA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I assist customers and make sure they have a pleasant shopping experience.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
</section><!--//section-->