<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                <div class="intro">
                </div><!--//intro-->
                <br>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Rate Frontend Engineer & UIUX Design Intern</h3>
                            <div class="time">May 2018 - Nov 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Rate Pte Ltd</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>The technical stack involved: React, ReactNative with MobX.</p>
                        <p>The design tools involved: Figma, Illustrator, InDesign</p>
                        <p>Collaborated with designers and engineers to implement new features for the mobile app.  Worked as the sole designer in a team to conceive and develop multiple innovative solutions for the blockchain. Seen through the projects from development to production. Also assisted with miscellaneous design and development work when possible.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">QuickDesk Fullstack Web Development Intern</h3>
                            <div class="time">May 2017 - Jul 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Pearcomms Pte Ltd</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>The technical stack involved: React, Node and MongoDB.</p>
                        <p>Worked with product manager to improve internal administrative portal, including adding new features to better fit their workflow. Helped obtain requirements from client and build integration API for the application.</p>
                    </div><!--//details-->
                </div><!--//item-->

</section><!--//section-->