<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>During my first summer break, I undertook an Independent Work course where I built and deployed my first web-application using Ruby On Rails with minimal guidance. I have also completed a Java based Task Manager application and I am currently working on a web application built using the MEAN stack framework. I also have experience performing statistical data analysis using R as part of module I undertook.
</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://pacific-brushlands-35644.herokuapp.com/">Artpraiser</a></span> - <span class="project-tagline">A web-application that aspires to connect artists, businesses and other art lovers together. The features include: secure log-in system, following other users, built-in messaging, basic CRUD</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/CS2103JAN2017-W15-B4/main" target="_blank">Geekeep</a></span> - 
                    <span class="project-tagline">A Java Application built using with JavaFX and JPhoenix libraries. It is a simple Task Manager that automatically categorises your tasks into deadlines, events, etc. It is part of a Software Engineering module where we have to do our own testing, deployment and project management. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/yirui94/learning-MEAN" target="_blank">Full Stack Web Application (In Progress)</a></span> - <span class="project-tagline">A simple web-application that features simple but secure log-in system. Part of a personal project I embarked on to learn the MEAN stack.</span>
                </div><!--//item-->

                </div><!--//item-->
            </section><!--//section-->