<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Design</h3>
                        <p> User Research, Usability Testing, Wireframing, Prototyping, Quantitative UX Analysis </p>
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Design</h3>
                        <p> React, Javascript, HTML/CSS, Node, Ruby on Rails, C, C++, Java, SQL, MongoDB </p>
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Design</h3>
                        <p> Figma, Sketch, Invision, Webflow, Adobe Suite, R Studio </p>
                    </div><!--//item-->
                    
                </div>
</section><!--//skills-section-->